pkgbase = bindfs
	pkgdesc = FUSE filesystem that mirrors a directory to another directory, like 'mount --bind'
	pkgver = 1.15.1
	pkgrel = 1
	url = https://bindfs.org
	arch = x86_64
	license = GPLv2
	depends = fuse
	source = https://bindfs.org/downloads/bindfs-1.15.1.tar.gz
	sha256sums = 04dd3584a6cdf9af4344d403c62185ca9fab31ce3ae5a25d0101bc10936c68ab

pkgname = bindfs
